body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #7d2661;
  color: white;
  padding: 3px;
  text-align: center;
}

main {
  display: flex;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
}

.error-message {
  color: red;
  display: none;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode header {
  background-color: #222;
}

.dark-mode footer {
  background-color: #222;
}

button {
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #555;
}

.dark-mode button {
  background-color: #555;
}

.dark-mode button:hover {
  background-color: #777;
}
